parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method StudioKyne\\MiniTools\\Core\\ModuleInterface\:\:get_export_extras\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin/Admin.php

		-
			message: '#^Call to an undefined method StudioKyne\\MiniTools\\Core\\ModuleInterface\:\:import_extras\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin/Admin.php

		-
			message: '#^Call to an undefined method StudioKyne\\MiniTools\\Core\\ModuleInterface\:\:on_activate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Core/Modules.php

		-
			message: '#^Call to an undefined method StudioKyne\\MiniTools\\Core\\ModuleInterface\:\:on_deactivate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Core/Modules.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\Database\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{\}, meta\: array\{\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/Database/Module.php

		-
			message: '#^Found usage of constant DISALLOW_FILE_MODS\. Use wp_is_file_mod_allowed\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: includes/Modules/Files/Module.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\Files\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{''skmt_module_files''\}, meta\: array\{\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/Files/Module.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: includes/Modules/ImageOptimizer/MediaLibrary.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\ImageOptimizer\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{''skmt_module_image…'', ''skmt_module_image…'', ''skmt_module_image…''\}, meta\: array\{''_skmt_optimized'', ''_skmt_original_bytes'', ''_skmt_optimized…'', ''_skmt_bytes_saved'', ''_skmt_main_original…'', ''_skmt_main…'', ''_skmt_main_bytes…'', ''_skmt_optimized…'', \.\.\.\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/ImageOptimizer/Module.php

		-
			message: '#^Parameter \#1 \$el of method StudioKyne\\MiniTools\\Modules\\ImageOptimizer\\SvgHandler\:\:clean_attributes\(\) expects DOMElement, DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Modules/ImageOptimizer/SvgHandler.php

		-
			message: '#^Parameter \#1 \$el of method StudioKyne\\MiniTools\\Modules\\ImageOptimizer\\SvgHandler\:\:clean_style_element\(\) expects DOMElement, DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Modules/ImageOptimizer/SvgHandler.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\Login\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{''skmt_module_login''\}, meta\: array\{\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/Login/Module.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\Media\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{\}, meta\: array\{\}, taxonomy\: array\{''skmt_media_folder''\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/Media/Module.php

		-
			message: '#^Method StudioKyne\\MiniTools\\Modules\\MenuCreator\\Module\:\:get_uninstall_keys\(\) should return array\{options\: array\<string\>, meta\: array\<string\>, user_meta\: array\<string\>\} but returns array\{options\: array\{''skmt_wl_menu…'', ''skmt_wl_menu_cache…''\}, meta\: array\{\}\}\.$#'
			identifier: return.type
			count: 1
			path: includes/Modules/MenuCreator/Module.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 4
			path: includes/Modules/MenuCreator/Module.php

		-
			message: '#^Property StudioKyne\\MiniTools\\Modules\\Security\\HardeningService\:\:\$disable_xmlrpc is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/Modules/Security/HardeningService.php

		-
			message: '#^Property StudioKyne\\MiniTools\\Modules\\Security\\HardeningService\:\:\$hide_wp_version is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/Modules/Security/HardeningService.php

		-
			message: '#^Property StudioKyne\\MiniTools\\Modules\\Security\\HardeningService\:\:\$prevent_user_enum is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/Modules/Security/HardeningService.php

		-
			message: '#^Property WP_Comment\:\:\$comment_author_email \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: includes/Modules/WhiteLabel/Module.php

		-
			message: '#^Action callback returns StudioKyne\\MiniTools\\Core\\Plugin but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: studio-kyne-mini-tools.php
